@page "/campaigns/add"
@using Microsoft.Extensions.Configuration
@using CampaignManager.App.Components.Forms
@using CampaignManager.Models 

@inject IConfiguration Configuration
@inject HttpClient http
@inject IJSRuntime js

<h1>Campaign - Add</h1>

@if (!isLoaded)
{
    <Loader></Loader>
}
else
{
    <CampaignForm Campaign="@campaign" OnValidSubmit="@OnValidSubmit"></CampaignForm>
}

@code
{ 
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public Guid CampaignId { get; set; }

    private bool isLoaded;
    private Campaign campaign = new Campaign
    {
        Id = Guid.NewGuid().ToString(),
        CampaignId = Guid.Empty.ToString(),
        Participants = new List<Participant>(),
        Missions = new List<Mission>(),
        IsActive = true
    };

    protected override async Task OnInitializedAsync()
    {
        isLoaded = true;
    }

    private async Task OnValidSubmit()
    {
        var url = $"{Configuration["ApiUrl"]}/Campaigns";
        await http.PostAsJsonAsync<Campaign>(url, campaign);
        await js.InvokeVoidAsync("alert", $"Added Successfully!");
    }
}