@page "/campaigns/edit/{Id:guid}"
@using Microsoft.Extensions.Configuration
@using CampaignManager.App.Components.Forms
@using CampaignManager.Models

@inject IConfiguration Configuration
@inject HttpClient http
@inject IJSRuntime js

<h1>Campaign - Edit</h1>

@if (!isLoaded)
{
    <Loader></Loader> 
}
else
{
    <CampaignForm Campaign="@campaign" OnValidSubmit="@OnValidSubmit"></CampaignForm>
}

@code
{ 
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public Guid CampaignId { get; set; }

    private bool isLoaded;
    private Campaign campaign = new Campaign
    {
        Id = Guid.NewGuid().ToString(),
        CampaignId = Guid.Empty.ToString(),
        Participants = new List<Participant>(),
        Missions = new List<Mission>(),
        IsActive = true
    };

    protected override async Task OnInitializedAsync()
    {
        var url = $"{Configuration["ApiUrl"]}/Campaigns/{Id}";
        campaign = await http.GetFromJsonAsync<Campaign>(url);
        isLoaded = true;
    }

    private async Task OnValidSubmit()
    {
        var url = $"{Configuration["ApiUrl"]}/Campaigns/{Id}";
        await http.PutAsJsonAsync<Campaign>(url, campaign);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
    }
}