@page "/templates/objects/add"
@using Microsoft.Extensions.Configuration
@using CampaignManager.App.Components.Forms

@inject IConfiguration Configuration
@inject HttpClient http
@inject IJSRuntime js

<h1>Object template - Add</h1>

@if(!isLoaded)
{
    <Loader></Loader>
} 
else
{
    <ObjectForm Object="@_object" OnValidSubmit="@OnValidSubmit"></ObjectForm>
}

@code
{ 
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public Guid CampaignId { get; set; }

    private bool isLoaded;
    private Models.Object _object = new Models.Object
    {
        Id = Guid.NewGuid().ToString(),
        CampaignId = Guid.Empty.ToString()
    };

    protected override async Task OnInitializedAsync()
    {
        isLoaded = true;
    }

    private async Task OnValidSubmit()
    {
        var url = $"{Configuration["ApiUrl"]}/Objects?campaignId={CampaignId}";
        await http.PostAsJsonAsync<Models.Object>(url, _object);
        await js.InvokeVoidAsync("alert", $"Added Successfully!");
    }
}