@page "/templates/locations/{Id:guid}"
@using CampaignManager.App.Components.Forms

<h1>Object template</h1>

<LocationForm CampaignId="@Guid.Empty.ToString()" Id="@Id.ToString()"></LocationForm>

@code
{ 
    [Parameter]
    public Guid Id { get; set; } 
}