@page "/templates/objects"
@using CampaignManager.App.Components.Lists
@using CampaignManager.Models


<h1>Template objects</h1>

<ObjectList Objects="@objects"></ObjectList>

@code {
    private List<Models.Object> objects = new List<Models.Object>
    {
        new Models.Object
        {
            Name = "F-16C bl.50",
            CampaignId = Guid.Empty,
            Category = Category.Airplane,
            Subcategory = Subcategory.Unknown,
            Id = Guid.NewGuid()
        },
        new Models.Object
        {
            Name = "F/A-18C",
            CampaignId = Guid.Empty,
            Category = Category.Airplane,
            Subcategory = Subcategory.Unknown,
            Id = Guid.NewGuid()
        },
        new Models.Object
        {
            Name = "SA-2",
            CampaignId = Guid.Empty,
            Category = Category.AirDefence,
            Subcategory = Subcategory.Unknown,
            Id = Guid.NewGuid()
        }
    };
}
