
<div class="text-center p-5 loader">
    <span class="fas fa-circle-notch fa-6x fa-spin"></span>
    <p class="mt-3">
        @Text
    </p>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "Loading...";
}
