@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Maissae/CampaignManager" target="_blank" class="ml-md-auto"><span class="fab fa-lg fa-github mr-2"></span>Source Code</a>
    </div>

    <div class="content px-4 p-4">
        @Body
    </div>
</div>