<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CampaignManager.App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandCampaignsMenu = !expandCampaignsMenu">
                <span class="fas fa-lg fa-map-marked-alt mr-2" aria-hidden="true"></span> Campaigns
            </NavLink>
            @if(expandCampaignsMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="campaigns">
                            <span class="fas fa-lg fa-globe-europe mr-2" aria-hidden="true"></span> Campaign1
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandTemplatesMenu = !expandTemplatesMenu"> 
                <span class="fas fa-lg fa-pencil-ruler mr-2" aria-hidden="true"></span> Templates
            </NavLink>
            @if(expandTemplatesMenu)
            {
                <ul class="nav flex-column">           
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="templates/objects">
                            <span class="fas fa-lg fa-boxes mr-2" aria-hidden="true"></span> Objects
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="templates/services">
                            <span class="fas fa-lg fa-map-marker-alt mr-2" aria-hidden="true"></span> Locations
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandTemplatesMenu = true;
    private bool expandCampaignsMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
